__pycache__
.DS_Store
~$*
*.xlsx
scivocab_venv
*.swp
*.swo
*.swn
# PyCharm config
.idea

# Ignore the database
app.db

#.egg-info files created when we install the package in editable mode.
*.egg-info

Icon*

# Ignoring output CSVs
breadth_task_responses.csv
depth_task_responses.csv
