<!doctype html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script type=text/javascript>
    var WORD_INDEX = 0;
    // Global- rephrase as capital
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    function update(data) {
        $("img#img_p1").attr('src' , $SCRIPT_ROOT+"/static/"+data.p1_filename) ;
        $("img#img_p2").attr('src' , $SCRIPT_ROOT+"/static/"+data.p2_filename) ;
        $("img#img_p3").attr('src' , $SCRIPT_ROOT+"/static/"+data.p3_filename) ;
        $("img#img_p4").attr('src' , $SCRIPT_ROOT+"/static/"+data.p4_filename) ;
        $("h1#header").text(data.tw) ;
        WORD_INDEX++;
    }


    // When the page loads up for the first time (or is refreshed), the
    // function registered in the callback below initializes the task with the
    // first word in the sequence.
    $(function() {
        $.getJSON("{{ url_for('depth.selectImage') }}",
            {},
            update
        );
        return false;
    });

    // The block of code below registers the 'update' function to be called
    // every time an image is clicked.

    $(document).on('click', 'img', function() {
        $.getJSON(
            "{{ url_for('depth.selectImage') }}",
            {position: $(this).attr('id'), word_index : WORD_INDEX},
            update
        );
        return false;
    });

    function dragstart_handler(ev) {
        ev.dataTransfer.setData("text/plain", ev.target.src);
        ev.dataTransfer.dropEffect = "copy";
    }

    
    function dragover_handler(ev) {
        ev.preventDefault();
        ev.dataTransfer.dropEffect = "move";
    }
    
    function drop_handler(ev) {
        ev.preventDefault();
        const data = ev.dataTransfer.getData("text/plain");
        ev.target.getElementsByTagName("img")[0].src = data;
    }

    window.addEventListener('DOMContentLoaded', () => {
        const elements = document.getElementsByClassName("draggableImage");
        Array.from(elements).forEach(e => 
            e.addEventListener("dragstart", dragstart_handler)
        );
    });

</script>
<style>
    img {width: 100%; height: auto}
    body {margin: auto}
</style>
<title>L4 Depth</title>
<div class="container-fluid" style="text-align: center">
    <h1>Scientific Vocabulary Depth Task</h1>
    <h1 id="header">{{ current_word.tw }}</h1>
    <table>
        <tr>
            <td>
                <img class="draggableImage" id = "img_p1" src="" />
            </td>
            <td>
                <img class="draggableImage" id = "img_p2" src="" />
            </td>
        </tr>
        <tr>
            <td>
                <img class="draggableImage" id = "img_p3" src="" />
            </td>
            <td>
                <img class="draggableImage" id = "img_p4" src="" />
            </td>
        </tr>
    </table>
    <div class="row border">
        <div class="border col" style="padding:auto"
                                ondrop="drop_handler(event)"
                                ondragover="dragover_handler(event)">
            <img class="draggableImage" id="image_p1" src="" />
        </div>
        <div class="border col" style="padding:auto"
                                ondrop="drop_handler(event)"
                                ondragover="dragover_handler(event)">
            <img class="draggableImage" id="image_p2" src="" />
        </div>
        <div class="border col" style="padding:auto"
                                ondrop="drop_handler(event)"
                                ondragover="dragover_handler(event)">
            <img class="draggableImage" id="image_p3" src="" />
        </div>
        <div class="border col" style="padding:auto"
                                ondrop="drop_handler(event)"
                                ondragover="dragover_handler(event)">
            <img class="draggableImage" id="image_p4" src="" />
        </div>
    </div>
</div>
