<!doctype html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script type=text/javascript>
    var word_index = 0;
    // Global- rephrase as capital
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    function update(data) {
        if ("redirect" in data) {
            window.location.href=data["redirect"];
        }
        $("img#img_p1").attr('src' , $SCRIPT_ROOT+"/static/"+data.p1_filename) ;
        $("img#img_p2").attr('src' , $SCRIPT_ROOT+"/static/"+data.p2_filename) ;
        $("img#img_p3").attr('src' , $SCRIPT_ROOT+"/static/"+data.p3_filename) ;
        $("img#img_p4").attr('src' , $SCRIPT_ROOT+"/static/"+data.p4_filename) ;
        $("h1#header").text(data.tw) ;
        word_index++;
    }


    // When the page loads up for the first time (or is refreshed), the
    // function registered in the callback below initializes the task with the
    // first word in the sequence.
    $(function() {
        $.getJSON("{{ url_for('.selectImage') }}",
            {},
            update
        );
        return false;
    });

    // The block of code below registers the 'update' function to be called
    // every time an image is clicked.

    $(document).on('click', 'img', function() {
        $.getJSON(
            "{{ url_for('.selectImage') }}",
            {position: $(this).attr('id'), word_index : word_index},
            update
        );
        return false;
    });

</script>
<style>
    img {width: 100%; height: auto}
    body {margin: auto}
</style>
<title>L4 Breadth-First</title>
<div class="container-fluid" style="text-align: center">
    <h1>Scientific Vocabulary Task</h1>
    <h1 id="header">{{ current_word.tw }}</h1>
    <table>
        <tr>
            <td>
                <a href= "#" id="p1">
                    <img id = "img_p1" src="" />
                </a>
            </td>
            <td>
                <a href= "#" id="p2">
                    <img id = "img_p2" src="" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href= "#" id="p3">
                    <img id = "img_p3" src="" />
                </a>
            </td>
            <td>
                <a href= "#" id="p4">
                    <img id = "img_p4" src="" />
                </a>
            </td>
        </tr>

    </table>
</div>
