<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <center style="color:black;font-size:40px;">Welcome</center>


  <center>
    {% block header %}{% endblock %}
  </centerr>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}

  
  <button onclick="location.href = {{ url_for('depth.main') }} type="button" style="font-size:40px;">Start Depth Tak</button>
    
  <button onclick="location.href = {{ url_for('depth.main') }} type="button" style="font-size:40px;">Start Breadth Tak</button>
 
  </form>
  {% endblock %}
</section>

