<html>
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
    >
    <head>
        {% if title %}
        <title>{{ title }} Scivocab</title>
        {% else %}
        <title>Scivocab</title>
        {% endif %}
    </head>
    <body>
        <!-- The "col-sm-3" and "inline-block" centers the link in the 
             navigation bar -->
	    <div class="col-sm-3" style="display:inline-block"> 
            Scivocab:
            <a href="{{ url_for('routes.index') }}">Home</a>

            {% if current_user.is_authenticated %}
                Child ID: {{ current_user.id }}
                <a href="{{ url_for('routes.logout') }}">Logout</a>
            {% else %}
                User is anonymous
                <a href="{{ url_for('routes.login') }}">Login</a>
            {% endif %}

        </div>
        {% block content %}{% endblock %}
    </body>
</html>
