{% extends "base.html" %}

{% macro imageContainer(i) -%}
    <td>
        <a href="#">
            <img id = "position_{{ i }}" 
                 class = "sourceImage img-fluid"
                 src="" />
        </a>
    </td>
{%- endmacro %}

{% block content %}

<script src={{ url_for("static", filename="scivocab/js/breadth.js") }}></script>
<div class="row">
    <div class="col">
        <h1 id="header" style="display:inline;"></h1>
        {% include "playButton.html" %}
    </div>
</div>
<div class="row">
    <div class="col">
        <table>
            <tr>
                {{ imageContainer(0) }}
                {{ imageContainer(1) }}
            </tr>
            <tr>
                {{ imageContainer(2) }}
                {{ imageContainer(3) }}
            </tr>
        </table>
    </div>
</div>
{% endblock %}
