{% extends "base.html" %}

{% macro sourceImageContainer(i) -%}
    <div class="col border w-50 p-3 sourceImageContainer ">
        <img id = "position_{{ i }}"
             class="sourceImage img-fluid" 
             src={{ url_for("static", filename="scivocab/dv_placeholder.gif") }} 
             draggable="true" width="300">
    </div>
{%- endmacro %}

{% block content %}

<script src={{ url_for("static", filename="scivocab/js/depth.js") }}></script>
    <div class="row p-3">
        <div class="col">
            <h1 id="header" style="display:inline;"></h1>
            {% include "playButton.html" %}
        </div>
    </div>
    <div class="row border">
        {{ sourceImageContainer(0) }}
        {{ sourceImageContainer(1) }}
        <div class="w-100"></div>
        {{ sourceImageContainer(2) }}
        {{ sourceImageContainer(3) }}
    </div>

    <div class="row border">
        {% for i in range(4) %}
            <div class="border col w-25 p-3 targetImageContainer" 
                 id = "target_position_{{ i }}">
                 <img class="targetImage img-fluid" 
                      id = "target_image_{{ i }}"
                      src={{ url_for("static", filename="scivocab/dv_placeholder.gif") }} />
            </div>
        {% endfor %}
    </div>

    <div class="d-flex">
        <div class="mr-auto p-2"><b>Best</b></div>
        <div class="p-2"><b>Worst</b></div>
    </div>

    <div class="row justify-content-md-center p-3">
        <div class="col">
            <button type="button" id="nextWordButton"
                                  class="btn btn-primary">
                Next
            </button>
        </div>
    </div>
{% endblock %}
