{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-3" style="display:inline-block">
    <img id = "fun_fact" class = "img-fluid" src="{{ image }}" width="600"/>
    </div>
</div>

<div class="row justify-content-md-center p-1">
   <div class="col">
    {% if task_id_breadth %}
        <a id="breadth" href="{{ url_for('breadth.main') }}" class="btn btn-primary btn-lg">
           Continue
        </a>
    {% elif task_id_depth %}
        <a id="depth" href="{{ url_for('depth.main') }}" class="btn btn-primary btn-lg">
           Continue
        </a>
    {% else %}    
        <a id="depth" href="{{ url_for('definition.main') }}" class="btn btn-primary btn-lg">
           Continue
        </a>
    {% endif %}
   </div>
</div>

<script>
var a = "{{ task_id_breadth }}"
var b = "{{ task_id_depth }}"

if a == "breadth" {
    task_id_breadth = true
} else if  b == "depth" {
    task_id_depth = true
} else {
    task_id = false
}
</script>

{% endblock  %}
