{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col">
        <img id = "fun_fact" class = "img-fluid" src="{{ image }}" width="600"/>
    </div>
</div>

<div class="row justify-content-md-center p-1">
   <div class="col">
       <a id="{{task_id}}" href="{{ url_for(task_id +'.main') }}" class="btn btn-primary btn-lg">
        Continue
    </a>
   </div>
</div>

<script>
var a = "{{ task_id_breadth }}"
var b = "{{ task_id_depth }}"

if a == "breadth" {
    task_id_breadth = true
} else if  b == "depth" {
    task_id_depth = true
} else {
    task_id = false
}
</script>

{% endblock  %}
