{% extends "base.html" %}

{% block content %}

<script src={{ url_for("static", filename="scivocab/js/fun_fact.js") }}></script>

<div class="row">
    <div class="col-sm-3" style="display:inline-block">
    <img id = "fun_fact" class = "img-fluid" src="{{ image }}" width="600"/>
    </div>
</div>

<div class="row justify-content-md-center p-1">
   <div class="col">
       <button type="button" id="ContinueButton"
           class="btn btn-primary">
           Continue
       </button>
   </div>
</div>


 {% endblock  %}
