<!doctype html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<title>Scivocab</title>

<div class="container-fluid" style="text-align: center">
  <h1>Welcome!</h1>
  <a href="{{ url_for('breadth.main') }}" class="btn btn-outline-primary btn-lg">Start Breadth Task</a>
  <a href="{{ url_for('depth.main') }}" class="btn btn-outline-primary btn-lg">Start Depth Task</a>
</div>
