{% extends "base.html" %}

{% block content %}

    <div class="container-fluid" style="text-align: center">
        <h1>Welcome!</h1>
        <a href="{{ url_for('breadth.main') }}" class="btn btn-outline-primary btn-lg">
            Breadth Task
        </a>
        <a href="{{ url_for('depth.main') }}" class="btn btn-outline-primary btn-lg">
            Depth Task
        </a>
        <a href="{{ url_for('definition.main') }}" class="btn btn-outline-primary btn-lg">
            Definition Task
        </a>
    </div>

{% endblock %}
