<!doctype html>
<title>{% block title %}{% endblock %}Login - Scientific Vocabulary Task</title>
<nav>
  <h1>Start!</h1>
  <ul>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}
  <form action="" method="post" novalidate>
      {{ form.hidden_tag() }} 
	  <p>
	  	{{ form.child_id.label }}<br>
		{{ form.child_id(size=32) }}
	</p>
	<p>
		{{ form.proctor.label }}<br>
		{{ form.proctor(size=32) }}
	</p>
	<p>
		{{ form.submit() }}
	</p>
  </form>
  {% endblock %}
</section>

